{% extends 'MemyCoreBundle::layout.html.twig' %}

{% block content %}
    
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                Memów w bazie: {{ pagination.getTotalItemCount }}
            </div>
            <div class="col-lg-12">
                {{ knp_pagination_render(pagination) }}
                {#
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
                #}
            </div>
        </div>
        <!-- /.row -->
        
        <hr>
        
        <!-- Projects Row -->
        <div class="row">
            {% for meme in pagination %}
                <div class="col-md-3 portfolio-item">
                    <a href="{{ path('meme_show', {'id': meme.id}) }}">
                        <img class="img-responsive" src="{{meme.filename}}" alt="{{meme.title}}">
                    </a>
                </div>
            {% endfor %}
            {#
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            #}
        </div>
        <!-- /.row -->
        
        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                {{ knp_pagination_render(pagination) }}
                {#
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
                #}
            </div>
        </div>
        <!-- /.row -->
        
{% endblock %}